html {
  padding: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'BeVietnamProBold';
  src: local('BeVietnamPro-Bold'),
    url('./assets/fonts/be-vietnam-pro/BeVietnamPro-Bold.ttf');
}

@font-face {
  font-family: 'BeVietnamProSemiBold';
  src: local('BeVietnamPro-SemiBold'),
    url('./assets/fonts/be-vietnam-pro/BeVietnamPro-SemiBold.ttf');
}

@font-face {
  font-family: 'BeVietnamProMedium';
  src: local('BeVietnamPro-Medium'),
    url('./assets/fonts/be-vietnam-pro/BeVietnamPro-Medium.ttf');
}

@font-face {
  font-family: 'BeVietnamPro';
  src: local('BeVietnamPro-Regular'),
    url('./assets/fonts/be-vietnam-pro/BeVietnamPro-Regular.ttf');
}

body,
* {
  font-family: BeVietnamPro;
}
